alg-textarea textarea, alg-textarea .rows-ruler {
    position: relative;
    width: 100%;
    background-color: #444;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    padding: 0.75em;
    resize: none;
    line-height: 1.2em;
    overflow: hidden;
}
alg-textarea textarea.invalid {
    background-color: #933;
}
alg-textarea .error-message {
    position: relative;
    width: 100%;
    background-color: #b66;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0.25em;
    box-sizing: border-box;
    display: none;
}
alg-textarea .rows-ruler {
    position: absolute;
    pointer-events: none;
    white-space: pre-wrap;
    visibility: hidden;
}